body {
    margin: 0;
}

.screen {
    height: 100vh;
    width: 100vw;
}


.toggle {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}

.piece {
    height: 100px;
    width: 100px;
    position: absolute;
    cursor: move;
}

.shape {
    background-color: purple;
}

.movement {
    background-color: pink;
}

.solid {
    display: flex;
    overflow: hidden;
    text-align: center;
    align-items: center;
}

.solid-text {
    width: 100%;
    height: 100%;
    font-size: 24px;
    margin: 0;
    padding: 0;
    animation: fall 2s linear infinite; 
    animation-play-state: paused;
}

@keyframes fall {
    0% {
        transform: translateY(0%); 
    }
    100% {
        transform: translateY(100%); 
    }
}

.soft {
    overflow: hidden;
    border-radius: 50%; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center;
}

.soft-text {
    width: 100%;
    height: 100%;
    font-size: 24px;
    margin: 0;
    padding: 0;
    animation: fade 2s infinite; 
    animation-play-state: paused;
}

@keyframes fade {
    0% {
        opacity: 1; 
    }
    50% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
    }
}

.empty {
    display: flex;
    overflow: hidden;
    text-align: center;
    align-items: center;
}

.empty-text {
    font-size: 24px;
    animation: rotate 4s infinite; 
    animation-play-state: paused;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg); 
    }
    25% {
        transform: rotate(90deg); 
    }
    50% {
        transform: rotate(180deg); 
    }
    100% {
        transform: rotate(270deg); 
    }
}

.fluid {
    display: flex;
    overflow: hidden;
    text-align: center;
    align-items: center;
}

.fluid-text {
    font-size: 24px;
    animation: fluid 3s infinite; 
    animation-play-state: paused;
}

@keyframes fluid {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-10px); 
    }
    40% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(10px);
    }
    80% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

.continous {
    display: flex;
    overflow: hidden;
    text-align: center;
    align-items: center;
}

.continous-text {
    font-size: 24px;
    animation: spiral 5s linear infinite; 
    animation-play-state: paused;
}

@keyframes spiral {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    100% {
        transform: translate(100px, 100px) rotate(720deg); 
    }
}

.over {
    display: flex;
    overflow: hidden;
    text-align: center;
    align-items: center;
}

.over-text {
    font-size: 24px;
    animation: flip 4s infinite; 
    animation-play-state: paused;
}

@keyframes flip {
    0% {
        transform: scaleY(1); /* Original position */
    }
    50% {
        transform: scaleY(-1); /* Reflect horizontally */
    }
    100% {
        transform: scaleY(1); /* Back to original position */
    }
}